.mobi.phone .subsub > LI > A {
	background-color: #9c2c12 !important;
	width: 100%;
}

.mobi.phone .nav-collapse #nav UL {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.mobi.phone .nav-collapse #nav LI {
  width: 100%;
  display: block;
}

.mobi.phone .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.mobi.phone .nav-collapse UL > LI > A.dropdown-toggle {
	background: #f4421a;
	border-left: 1px solid rgba(0, 0, 0, 0.18);
	display: block !important;
	position: absolute;
	right: 0;
	text-align: right;
	width: 20%;
}

.mobi.phone .nav-collapse UL > LI > A.dropdown-toggle:after {
	content: "\e607";
	font-family: "focus";
	font-size: 1.5em;
	line-height: 0.6;
	vertical-align: -5px;
}

.mobi.phone .nav-collapse.opened {
  max-height: 9999px !important;
  top: -5px;
}

.mobi.phone .nav-collapse UL > LI.dropdown.opened > A.dropdown-toggle {
	background: #fff;
	color: #F05922;
}

.mobi.phone .nav-collapse UL > LI.dropdown.opened > A.dropdown-toggle:after {
	content: "\e606";
	line-height: 1.2;
}

.mobi.phone .nav-collapse #nav .dropdown.opened > UL {
	position: relative;
}

.mobi.phone .nav-collapse LI .dropdown .dropdown.opened > UL {

}

.mobi.phone .nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mobi.phone .nav-collapse UL > LI > A.primary-link { width: 80%; position: relative; }

.mobi.phone .nav-toggle, .dropdown-toggle { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

@media screen and (min-width: 40em) {
  .nav-collapse {
    position: relative;
  }
  .nav-collapse.closed {
    max-height: none;
  }
  .nav-collapse.closed .dropdown UL { }
  .nav-toggle {
    display: none;
  }
}